body {
    background-color: #FFFFFF;
    }

div {
	padding: 0px;
    }

.cnt {
    display: inline
    }

.hindex {
	font-family: 'Roboto Slab', serif;
	color: #62605F;
	font-size: 6vw;
	padding: -1px;
	overflow: none;
	width: 80%;
    }

.hspin {
	font-family: 'Roboto Slab', serif;
	color: #62605F;
	font-size: 5vw;
	padding: -1px;
	overflow: none;
	width: 80%;
    }

h1 {
	font-family: 'Roboto Slab', serif;
	color: #62605F;
	font-size: 4.8vw;
	padding: -1px;
	overflow: none;
	width: 80%;
    }

h2 {
	font-family: 'Roboto Slab', serif;
	color: #62605F;
	font-size: 2.8vw;
	padding: -1px;
	overflow: none;
	width: 70%;
    }

h3 {
	font-family: 'Roboto Slab', serif;
	color: #62605F;
	font-size: 2.6vw;
	padding: 1px;
	overflow: none;
	width: 70%;
    }

img {
	border: #62605F solid 2px;
	height:auto;
    }

form {
    display: inline
    }

.i {
    font-size: 4vw;
    border: 1px #292727 solid;
    text-align: center;
    border-radius: 10px;
    font-family: 'Roboto Slab', serif;
    color: #E6E6E6;
    width: 50%;
    }

.spin {
    padding: 5px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 4vw;
    border: 1px #292727 solid;
    text-align: center;
    border-radius: 10px;
    font-family: 'Roboto Slab', serif;
    color: #E6E6E6;
    width: 40%;
    cursor: grab;
    }

.lp button {
    background-color: #1B85B8;
    }

.s button {
    background-color: #BF3E00;
    }

.t button {
    background-color: #BF9E13;
    }

bt {
    width: 25%;
}